/* Corpo do HTML */

html {
    scroll-behavior: smooth;
}

body {
    background-color: azure;
}

.container {
    background: linear-gradient(136deg, #F8A728 29.4%, rgba(247, 94, 27, 0.93) 64.4%);
}

li {
    list-style-type: none;
}

li a,
li a:visited,
li a:link {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: var(--logo-primary-color);
}

p {
    /* Teste */
    padding: 25px;
    margin: 40px;
    color: white
}

/* Fim Corpo do HTML */












/* NavBar */
#nav-bar {
    width: 100%;
    height: auto;
    padding: 50px 80px;
}

nav {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: white;
    border-radius: 46px;

}

nav #logo-1corre span {
    /* Logo 1corre */
    color: var(--logo-primary-color)
}

nav #logo-1corre h6 {
    /* Logo 1corre */
    color: var(--logo-secondary-color)
}

nav #euna {
    /* Logo 1corre */
    text-decoration: underline;
}

#nav-bar-post {
    /* Botão Postar trabalho */
    display: flex;
    background: var(--logo-secondary-color);
    justify-content: center;
    padding: 11px 43px;
    border-radius: 50px;
}

#nav-bar-post a {
    /* Botão Postar trabalho */
    color: white;
}

#nav-bar-post a:hover {
    /* Botão Postar trabalho */
    color: var(--logo-primary-color);
}

/* Fim NavBar */