/* CORPO */

body {
    background-color: beige;
}

.container {
    background: linear-gradient(136deg, #F8A728 29.4%, rgba(247, 94, 27, 0.93) 64.4%);
}


/* FIM CORPO */






/* NAVBAR */

header {
    padding: 30px;
}


.navbar {
    /* Main da navbar */
    background-color: #FFF;


    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
    padding: 10px 30px;
    border-radius: 56px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


}


.text-logo {
    /* logo 1corre */
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 35px;
}

.text-logo span {
    /* logo 1corre */
    color: var(--logo-primary-color);
}

.text-logo h6 {
    /* logo 1corre */
    font-weight: bold;
    color: var(--logo-secondary-color)
}

.text-logo #euna {
    /* logo 1corre */
    text-decoration: underline;
    font-size: 16px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #252525;
}

.nav-links a:hover {
    color: var(--logo-primary-color);
}

#navbar-button {
    background-color: var(--logo-secondary-color);
    color: white;
    text-decoration: none;

    padding: 10px 30px;
    border-radius: 50px;
    gap: 10px;
    transition: background-color 0.3s ease;
}

#navbar-button:hover {
    background-color: #373767;
}

/* FIM NAVBAR