body{
    background-color: brown;
    display: grid;
    background-image: url('../../assets/imgs/backgorund-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: white;
    width: 50%;
    height: 100%;
    justify-self: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
    font-size: 8rem;
    font-family: 'LeagueGothic-Regular';
    color: var(--logo-secondary-color);
}

main h1 span{
    color: var(--logo-primary-color);
}

p{
    margin-top: 1rem;
}


@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    main {
        font-size: .8rem;
        padding: .5rem;
    }
}
