body{
    background-color: brown;
    display: grid;
    background-image: url('../../assets/imgs/backgorund-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: white;
    width: 50%;
    height: 100%;
    justify-self: right;
    padding: 2rem;
}

main h1 {
    text-align: right;
    font-size: 5rem;
    font-family: 'LeagueGothic-Regular';
    color: var(--logo-secondary-color);
}


main h1 span,
label span{
    color: var(--logo-primary-color);
}

form{
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

form input,
form select  {
    position: relative;
    font-size: 1rem;
    border: var(--type-color) solid .1rem;
    background-color: white;
}
.input-wrapper {
    margin: 0;

    & input {
        width: 100%;
    }
}
form select, .selects input {
    width: 20ch;
    margin: 0;
    height: 100%;
}

input[disabled] {
    opacity: .6;
}

form :nth-child(even){
    grid-column-start: 1;
}

form :nth-child(odd):not( > :first-child){
    grid-column-start: 2;
}

form h2,
form > div.terms,
form > div.endereco,
form input[type="submit"],
form .input-wrapper[type="password"] {
    grid-column-start: 1;
    grid-column-end: 3;
}

div.terms {
    display: flex;
    align-items: baseline;
    gap: .5rem;
    margin: 0;
    margin-left: 1rem;

    & input {
        transform: scale(1.3);
    }
}

div.endereco {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin: 0;
}

div.endereco .input-wrapper {
    width: 45%;
}

div.selects {
    margin: 0;
    display: flex;
    gap: .5rem;
    padding-bottom: 1rem;
}

input[type="submit"] {
    border: none;
    margin: 0 auto 1rem;
    width: 60%;
}

p{
    text-align: center;
    margin-top: 1rem;
}

.input-wrapper {
    position: relative;
}
.input-wrapper::before {
    position: absolute;
    top: -.5rem;
    left: 1rem;
    content: "label";
    display: block;
    padding: 0 .5rem;
    font-size: .8rem;
    background-color: white;
    z-index: 5;
}

input[type="checkbox"]{
    border: solid red 1px;
    background-color: red;
    display: inline;
}

.input-wrapper > span {
    padding: 0 1rem;
    color: #FF3800;
}

.input-wrapper:has(input[type="checkbox"])::before {
    content: "";
}

.input-wrapper:has(input[name="senha"])::before {
    content: "Senha*";
}

.input-wrapper:has(input[id="check_senha"])::before {
    content: "Confirme a sua Senha*";
}

.input-wrapper:has(input[name="bairro"])::before {
    content: "Bairro*";
}

.input-wrapper:has(select[name="cidade"])::before {
    content: "Cidade*";
}

.input-wrapper:has(select[name="estado"])::before {
    content: "Estado*";
}

.input-wrapper:has(input[name="email"])::before {
    content: "E-mail*";
}

.input-wrapper:has(input[name="telefone"])::before {
    content: "Telefone*";
}

.input-wrapper:has(input[name="endereco"])::before {
    content: "Endereço";
}

.input-wrapper:has(input[name="cpf"])::before {
    content: "CPF*";
}

.input-wrapper:has(input[name="usuario"])::before {
    content: "Usuário*";
}

.input-wrapper:has(input[name="nome"])::before {
    content: "Nome*";
}

.input-wrapper:has(input[name="data_nasc"])::before {
    content: "Data de Nascimento*";
}

@media screen and (max-width: 1148px) {
    main {
        width: 100%;
    }
}

@media screen and (max-width: 1360px) {
    body {
        background-image: url("/assets/imgs/background-signin-vertical.jpg");
        background-position: right 35rem center;
        background-attachment: fixed;
    }
    .input-wrapper:not(:has(input[type="checkbox"])), div.endereco .input-wrapper {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .endereco, .selects {
        flex-wrap: wrap;
        width: 100%;
        & select, input{
            width: 100%;
        }
    }
    .selects {
        & .input-wrapper:not( :first-child) {
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 560px) {
    main {
        font-size: .8rem;
        padding: .5rem;
    }
}
